<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/faq.css" />
  </head>
  <body>
    <ul class="faq">
      <li>
        <p>问题e</p>
        <p>回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答</p>
      </li>
      <li>
        <p>问题一</p>
        <p>回答</p>
      </li>
      <li>
        <p>问题一</p>
        <p>回答</p>
      </li>
    </ul>
  </body>
</html>
